body{
    background-color: rgb(24, 24, 112);
}

.square {
    width: 30%;
    background-color: magenta;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20px;
    transition: background 500ms;
    --webkit-transition: background 500ms;
    -moz-transition: background 500ms;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

h1{
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px auto;
    margin: 0;
}


#colorDisplay {
    font-size: 24px;
}


#stripe {
    background-color: white;
    height: 36px;
    text-align: center;
    color: black;
}

#message {
    color: coral;
    font-weight: 900;
    text-transform: uppercase;

}

#reset {
    border: none;
    background: none;
    padding: 0;
    margin: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: midnightblue;
    
}

#resetScore {
    border: none;
    background: none;
    padding: 0;
    margin: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(230, 126, 8);
    
}

#score {
    margin: 4px;
    color: green;
    font-weight: 900;
    text-transform: uppercase;
}

#manche {
    margin: 4px;
    color: rgb(255, 0, 0);
    font-weight: 900;
    text-transform: uppercase;
}

@media (max-width: 400px) {
    body {
        background-color: rgb(89, 98, 190);
    }

    #container {
        margin-top: 40%;
    }

    .square {
        margin-top: 12px;
    }
}


